.pointer{
    cursor: pointer;
}
.text-dark{
    color: var(--color-dark);
}
.text-pink{
    color: var(--color-pink) !important;
}
.text-dark-pink{
    color: var(--color-dark-pink);
}
.bg-pink{
    background: var(--color-pink) !important;
}
.text-blue{
    color: var(--color-blue) !important;
}
.bg-blue{
    background: var(--color-blue) !important;
}
.text-light-blue{
    color: var(--color-light-blue) !important;
}
.bg-light-pink{
    background: var(--color-light-pink) !important;
}
.text-light-pink{
    color: var(--color-light-pink) !important;
}
.bg-light-blue{
    background: var(--color-light-blue) !important;
}
.hide-on-mobile{
    display: none;
}
@media (min-width: 1024px){
    .hide-on-mobile{
        display: flex;
    }
}
.object-fit-cover{
    object-fit: cover;
}
.object-position-center{
    object-position: center;
}
.object-position-top{
    object-position: top;
}
.object-position-left{
    object-position: left;
}
.button-primary{
    border: none;
    background: var(--color-pink);
    color: white;
    padding: 10px 30px;
    border-radius: 2rem;
}
.button-secondary{
    border: none;
    background: var(--color-blue);
    color: white;
    padding: 10px 30px;
    border-radius: 2rem;
}
.fancy-font{
    font-family: 'Allura', 'Nunito', sans-serif;
    color: var(--color-pink);
    font-weight: bold;
}
.text-grey{
    color: var(--color-grey);
}
.text-decoration-none{
    text-decoration: none;
}
.remove-link-color{
    color: inherit;
}
.font-bold{
    font-weight: bold;
}
.lh-large{
    line-height: 1.5em;
}
.font-xs{
    font-size: 0.8em;
}
.font-sm{
    font-size: 1em;
}
.font-md{
    font-size: 1.2em;
}
.font-lg{
    font-size: 1.5em;
}
.font-xl{
    font-size: 2em;
}
.font-xxl{
    font-size: 2.5em;
}
.font-xxxl{
    font-size: 3em;
}
.z-index-1{
    z-index: 1;
}
.z-index-100{
    z-index: 100;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}